body {
  min-height: 110vh;
  background-image: url(thor.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
display: inline-block;
padding: 5px 10px;
border: radius 5px; 
background-color:#e8dcdc;
color: #0074d9; /* Blue color */
border-radius: 6px;
font-weight: 600;
transition: background-color 0.3s, filter 0.3s;

}

.button:hover {
  background-color:  white; /* Darker gold color on hover */
   filter: brightness(1.5);
}

#cont {
    border: 2px  solid white ;
    margin-right: 900px;
    padding: 5px 10px;
  background-color: #4493e9; /* Darker blue color on hover */
    
}

